[class='emote 4Head'] {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/4Head.png");
	width: 22px;
	height: 30px;
}
.emote.AYAYA {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/AYAYA.png");
	width: 28px;
	height: 27px;
}
.emote.ApeHands {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/ApeHands.png");
	width: 30px;
	height: 30px;
}
.emote.BOGGED {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/BOGGED.png");
	width: 32px;
	height: 32px;
}
.emote.BabyRage {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/BabyRage.png");
	width: 28px;
	height: 28px;
}
.emote.CUX {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/CUX.png");
	width: 76px;
	height: 30px;
}
.emote.ComfyAYA {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/ComfyAYA.png");
	width: 32px;
	height: 32px;
}
.emote.ComfyDog {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/ComfyDog.png");
	width: 34px;
	height: 32px;
}
.emote.ComfyFerret {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/ComfyFerret.png");
	width: 30px;
	height: 30px;
}
.emote.DESBRO {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/DESBRO.png");
	width: 28px;
	height: 30px;
}
.emote.DansGame {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/DansGame.png");
	width: 24px;
	height: 31px;
}
.emote.ECH {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/ECH.png");
	width: 28px;
	height: 28px;
}
.emote.EleGiggle {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/EleGiggle.png");
	width: 28px;
	height: 28px;
}
.emote.FeelsGimiMan {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/FeelsGimiMan.png");
	width: 32px;
	height: 32px;
}
.emote.FeelsWeirdMan {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/FeelsWeirdMan.png");
	width: 32px;
	height: 32px;
}
.emote.ITSRAWWW {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/ITSRAWWW.png");
	width: 25px;
	height: 30px;
}
.emote.Kreygasm {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/Kreygasm.png");
	width: 21px;
	height: 28px;
}
.emote.MingLee {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/MingLee.png");
	width: 30px;
	height: 30px;
}
.emote.NiceMeMe {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/08868a8e8aee998a910a2a33b4980d387931fdbe/assets/emotes/emoticons/NiceMeMe.png");
	width: 27px;
	height: 30px;
}
.emote.NotLikeThis {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/NotLikeThis.png");
	width: 30px;
	height: 30px;
}
.emote.OMEGALUL {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/OMEGALUL.png");
	width: 31px;
	height: 32px;
}
.emote.PJSalt {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/PJSalt.png");
	width: 36px;
	height: 30px;
}
.emote.POGGERS {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/POGGERS.png");
	width: 30px;
	height: 30px;
}
.emote.PepOk {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/PepOk.png");
	width: 30px;
	height: 30px;
}
.emote.PepeHands {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/PepeHands.png");
	width: 30px;
	height: 30px;
}
.emote.PepoComfy {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/PepoComfy.png");
	width: 32px;
	height: 30px;
}
.emote.PepoWant {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/PepoWant.png");
	width: 38px;
	height: 32px;
}
.emote.PogChamp {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/PogChamp.png");
	width: 23px;
	height: 30px;
}
.emote.ResidentSleeper {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/ResidentSleeper.png");
	width: 28px;
	height: 28px;
}
.emote.Riperino {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/Riperino.png");
	width: 28px;
	height: 28px;
}
.emote.SMOrc {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/SMOrc.png");
	width: 32px;
	height: 32px;
}
.emote.SOY {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/SOY.png");
	width: 32px;
	height: 30px;
}
.emote.TooSpicy {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/TooSpicy.png");
	width: 23px;
	height: 30px;
}
.emote.WEOW {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/WEOW.png");
	width: 28px;
	height: 28px;
}
.emote.monkaSMEGA {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/monkaSMEGA.png");
	width: 32px;
	height: 32px;
}
.emote.D\: {
	background-image: url("https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons/DCOLON.png");
	width: 28px;
	height: 28px;
}
.emote.NOBULLY:hover {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.emote.ITSRAWWW:hover {
	animation: ITSRAWWW-hover 100ms infinite;
}
@keyframes ITSRAWWW {
	from {
		left: 0;
   }
	to {
		left: 2px;
   }
}
@keyframes ITSRAWWW-hover {
	from {
		left: 0;
   }
	to {
		left: 2px;
   }
}
.emote.RaveDoge {
	width: 44px;
	height: 30px;
	background: url('https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons-animated/RaveDoge.gif');
}
.emote.SourPls {
	width: 32px;
	height: 32px;
	background: url('https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons-animated/SourPls.gif');
}
.emote.CuckCrab {
	width: 32px;
	height: 30px;
	background: url('https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons-animated/CuckCrab.gif');
}
@keyframes MiyanoHype-anim {
	100% {
		background-position: -320px;
   }
}
.emote.MiyanoHype {
	width: 32px;
	height: 32px;
	background: url('https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons-animated/MiyanoHype.png') left center;
	animation: MiyanoHype-anim 800ms steps(10) 3;
}
.emote.MiyanoHype:hover {
	animation: MiyanoHype-anim 800ms steps(10) infinite;
}
@keyframes Clap-anim {
	100% {
		background-position: -64px;
   }
}
.emote.Clap {
	width: 32px;
	height: 32px;
	background: url('https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons-animated/Clap.png') left center;
	animation: Clap-anim 400ms steps(2) 5;
}
.emote.Clap:hover {
	animation: Clap-anim 400ms steps(2) infinite;
}
@keyframes COGGERS-anim {
	100% {
		background-position: -1920px;
   }
}
.emote.COGGERS {
	width: 32px;
	height: 32px;
	background: url('https://raw.githubusercontent.com/downthecrop/chat-gui/master/assets/emotes/emoticons-animated/COGGERS.png') left center;
	animation: COGGERS-anim 800ms steps(60) 2;
}
.emote.COGGERS:hover {
	animation: COGGERS-anim 800ms steps(60) infinite;
}
.msg-chat .emote.ComfyAYA{margin-top: -32px;top: 7px;}
.msg-chat .emote.ComfyFerret{margin-top: -32px;top: 7px;}
.msg-chat .emote.SOY{margin-top: -30px;top: 7px;}
.msg-chat .emote.RaveDoge{margin-top: -30px;top: 7px;}
.msg-chat .emote.SourPls{margin-top: -30px;top: 7px;}
.msg-chat .emote.CuckCrab{margin-top: -30px;top: 7px;}
.msg-chat .emote.MiyanoHype{margin-top: -32px;top: 7px;}
.msg-chat .emote.ECH{margin-top: -28px;top: 7px;}
.msg-chat .emote.MingLee{margin-top: -30px;top: 7px;}
.msg-chat .emote.DESBRO{margin-top: -30px;top: 7px;}
.msg-chat .emote.TooSpicy{margin-top: -30px;top: 7px;}
.msg-chat .emote.NiceMeMe{margin-top: -30px;top: 7px;}
.msg-chat .emote.CUX{margin-top: -30px;top: 7px;}
.msg-chat .emote.ITSRAWWW{margin-top: -30px;top: 7px;}
.msg-chat .emote.Riperino{margin-top: -30px;top: 7px;}
.msg-chat .emote.WEOW{margin-top: -30px;top: 7px;}
.msg-chat [class='emote 4Head']{margin-top: -30px;top: 7px;}
.msg-chat .emote.BabyRage{margin-top: -28px;top: 7px;}
.msg-chat .emote.DansGame{margin-top: -28px;top: 7px;}
.msg-chat .emote.EleGiggle{margin-top: -28px;top: 7px;}
.msg-chat .emote.Kreygasm{margin-top: -28px;top: 7px;}
.msg-chat .emote.PJSalt{margin-top: -30px;top: 7px;}
.msg-chat .emote.PogChamp{margin-top: -30px;top: 7px;}
.msg-chat .emote.ResidentSleeper{margin-top: -30px;top: 7px;}
.msg-chat .emote.SMOrc{margin-top: -32px;top: 7px;}
.msg-chat .emote.NotLikeThis{margin-top: -30px;top: 7px;}
.msg-chat .emote.POGGERS{margin-top: -30px;top: 7px;}
.msg-chat .emote.AYAYA{margin-top: -30px;top: 7px;}
.msg-chat .emote.PepOk{margin-top: -30px;top: 7px;}
.msg-chat .emote.PepoComfy{margin-top: -30px;top: 7px;}
.msg-chat .emote.PepoWant{margin-top: -30px;top: 7px;}
.msg-chat .emote.PepeHands{margin-top: -30px;top: 7px;}
.msg-chat .emote.BOGGED{margin-top: -28px;top: 7px;}
.msg-chat .emote.ApeHands{margin-top: -30px;top: 7px;}
.msg-chat .emote.OMEGALUL{margin-top: -30px;top: 7px;}
.msg-chat .emote.COGGERS{margin-top: -30px;top: 7px;}
.msg-chat .emote.PepoWant{margin-top: -30px;top: 7px;}
.msg-chat .emote.Clap{margin-top: -30px;top: 7px;}
.msg-chat .emote.FeelsWeirdMan{margin-top: -32px;top: 7px;}
.msg-chat .emote.monkaSMEGA{margin-top: -30px;top: 7px;}
.msg-chat .emote.ComfyDog{margin-top: -32px;top: 7px;}
.msg-chat .emote.FeelsGimiMan{margin-top: -32px;top: 7px;}
.msg-chat .emote.D\:{margin-top: -30px;top: 7px;}