{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>orvods</title>

	<link rel="icon" type="image/png" href="{{index . "favicon.png"}}" />

	<link rel="stylesheet" href="octicons/octicons.css">
	<link rel="stylesheet" href="css/styles.css"/>

	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700" rel="stylesheet">

	<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
	<script src="js/lib/split.min.js"></script>
	<script src="js/lib/moment.min.js"></script>
	<script src="js/lib/jquery-2.1.4.min.js"></script>
	<script src="js/lib/jquery.tmpl.min.js"></script>
	<script src="js/lib/linkify.min.js"></script>
	<script src="js/lib/linkify-string.min.js"></script>

	<script src="js/{{index . "util.js"}}"></script>
	<script src="js/{{index . "chat.js"}}"></script>
	<script src="js/{{index . "scripts.js"}}"></script>
	<script src="js/{{index . "focus.js"}}"></script>
	<script src="js/{{index . "lwod.js"}}"></script>

	<base target="_blank">

	<!-- open source analytics, nobully -->
	<!-- Matomo -->
	<script type="text/javascript">
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
		var u="//stats.vyneer.me/";
		_paq.push(['setTrackerUrl', u+'matomo.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
</head>
<body>
	<script id="vod-tmpl" type="text/x-jquery-tmpl">
		<div id="${id}" class="vod-entry shadow">
			<div class="image-container">
				<img src="${image}"/>
				<div class="overlay-container">
					<div class="views"><span class="octicon octicon-eye"></span>&nbsp;${views}</div>
					<div class="length"><span class="octicon octicon-watch"></span>&nbsp;${length}</div>
				</div>
				<div class="clipboard-container">
					<div class="copy-link" copy="?id=${id}"><span class="octicon octicon-clippy"></span>&nbsp;Copy link</div>
					<div class="copy-orig" copy="https://twitch.tv/videos/${id}"><span class="octicon octicon-clippy"></span>&nbsp;Copy source</div>
				</div>
			</div>
			<div class="info-container">
				<div class="title">${title}</div>
				<div class="date">${date}</div>
			</div>
		</div>
	</script>

	<script id="vid-tmpl" type="text/x-jquery-tmpl">
		<div id="${id}" starttime="${starttime}" endtime="${endtime}" class="vid-entry shadow">
			<div class="image-container">
				<img src="${image}"/>
				<div class="clipboard-container">
					<div class="copy-link" copy="?v=${id}&start=${starttime}&end=${endtime}"><span class="octicon octicon-clippy"></span>&nbsp;Copy link</div>
					<div class="copy-orig" copy="https://youtu.be/${id}"><span class="octicon octicon-clippy"></span>&nbsp;Copy source</div>
				</div>
			</div>
			<div class="info-container">
				<div class="title">${title}</div>
				<div class="date">${date}</div>
			</div>
		</div>
	</script>

	<script id="arch-tmpl" type="text/x-jquery-tmpl">
		<div id="${id}" type="${type}" starttime="${starttime}" endtime="${endtime}" class="arch-entry shadow">
			<div class="image-container">
				<img src="${image}"/>
				<div class="clipboard-container">
					<div class="copy-link" copy="?${type}=${id}&start=${starttime}&end=${endtime}"><span class="octicon octicon-clippy"></span>&nbsp;Copy link</div>
					<div class="copy-orig" copy="https://polecat.me/vodstiny?id=${id}"><span class="octicon octicon-clippy"></span>&nbsp;Copy source</div>
				</div>
			</div>
			<div class="info-container">
				<div class="title">${title}</div>
				<div class="date">${date}</div>
			</div>
		</div>
	</script>

	<script id="timestamp-tmpl" type="text/x-jquery-tmpl">
		<tr starttime="${starttime}" class="timestamp-entry shadow">
			<td class="table-padding">${starttime}</td>
			<td class="table-padding">${endtime}</td>
			<td class="table-padding nowrap">${game}</td>
			<td class="table-padding nowrap">${subject}</td>
			<td>${topic}</td>
		</tr>
	</script>

	<script id="timestamp-tmpl-yt" type="text/x-jquery-tmpl">
		<tr starttime="${starttime}" class="timestamp-entry shadow">
			<td class="table-padding">${starttime}</td>
			<td class="table-padding nowrap">${game}</td>
			<td class="table-padding nowrap">${subject}</td>
			<td>${topic}</td>
		</tr>
	</script>

	<script>
		// detecting if url is yt or twitch
		function vodURL(url) {
			var urlCheck = /^((http[s]?|ftp):\/)?\/?([^:\/\s]+)((\/\w+)*\/)([\w\-\.]+[^#?\s]+)(.*)?(#[\w\-]+)?$/gm;
			var matches = url.matchAll(urlCheck);
			var matchArray = [...matches];
			var startTimestamp = ($("#start-timestamp").val() === "") ? "" : moment($("#start-timestamp").val(), "YYYY-MM-DD HH:mm:ss UTC").format("YYYY-MM-DDTHH:mm:ss[Z]");
			var endTimestamp = ($("#end-timestamp").val() === "") ? "" : moment($("#end-timestamp").val(), "YYYY-MM-DD HH:mm:ss UTC").format("YYYY-MM-DDTHH:mm:ss[Z]");
			var timestamps = (startTimestamp != "" && endTimestamp != "") ? "&start=" + startTimestamp + "&end=" + endTimestamp : "";
			if (matchArray[0][3] === "www.twitch.tv" || matchArray[0][3] === "twitch.tv") {
				regex = new RegExp('(?=[0-9])[^\/]+', 'gm');
				replaced = url.match(regex);
				window.location.href = window.location.origin + window.location.pathname + "?id=" + replaced[0].replace(/[?]/gm, '&') + timestamps;
			}
			if (matchArray[0][3] === "www.youtube.com" || matchArray[0][3] === "www.youtube.com") {
				window.location.href = window.location.origin + window.location.pathname + matchArray[0][7] + timestamps;
			}
			if (matchArray[0][3] === "youtu.be") {
				window.location.href = window.location.origin + window.location.pathname + "?v=" + matchArray[0][6] + matchArray[0][7].replace(/[?]/gm, '&') + timestamps;
			}
		};

		function onlyChat() {
			var startTimestamp = ($("#start-timestamp").val() === "") ? "" : moment($("#start-timestamp").val(), "YYYY-MM-DD HH:mm:ss UTC").format("YYYY-MM-DDTHH:mm:ss[Z]");
			var endTimestamp = ($("#end-timestamp").val() === "") ? "" : moment($("#end-timestamp").val(), "YYYY-MM-DD HH:mm:ss UTC").format("YYYY-MM-DDTHH:mm:ss[Z]");
			var timestamps = (startTimestamp != "" && endTimestamp != "") ? "&start=" + startTimestamp + "&end=" + endTimestamp : "";
			if (startTimestamp && endTimestamp) {
				window.location.href = window.location.origin + window.location.pathname + '?chatonly=true' + timestamps;
			}
		}

		function m3u8(url) {
			var urlCheck = /^((http[s]?|ftp):\/)?\/?([^:\/\s]+)((\/\w+)*\/)([\w\-\.]+[^#?\s]+)(.*)?(#[\w\-]+)?$/gm;
			var matches = url.matchAll(urlCheck);
			var matchArray = [...matches];
			var startTimestamp = ($("#start-timestamp").val() === "") ? "" : moment($("#start-timestamp").val(), "YYYY-MM-DD HH:mm:ss UTC").format("YYYY-MM-DDTHH:mm:ss[Z]");
			var endTimestamp = ($("#end-timestamp").val() === "") ? "" : moment($("#end-timestamp").val(), "YYYY-MM-DD HH:mm:ss UTC").format("YYYY-MM-DDTHH:mm:ss[Z]");
			var timestamps = (startTimestamp != "" && endTimestamp != "") ? "&start=" + startTimestamp + "&end=" + endTimestamp : "";
			if (startTimestamp && endTimestamp) {
				if (matchArray[0][3] == "vod-secure.twitch.tv") {
					window.location.href = window.location.origin + window.location.pathname + "?hash=" + matchArray[0][4].slice(1,-9) + "&cdn=ttv" + timestamps;
				}
				if (matchArray[0][3] == "d2e2de1etea730.cloudfront.net") {
					window.location.href = window.location.origin + window.location.pathname + "?hash=" + matchArray[0][4].slice(1,-9) + "&cdn=cf1" + timestamps;
				}
				if (matchArray[0][3] == "d2nvs31859zcd8.cloudfront.net") {
					window.location.href = window.location.origin + window.location.pathname + "?hash=" + matchArray[0][4].slice(1,-9) + "&cdn=cf2" + timestamps;
				}
				if (matchArray[0][3] == "dqrpb9wgowsf5.cloudfront.net") {
					window.location.href = window.location.origin + window.location.pathname + "?hash=" + matchArray[0][4].slice(1,-9) + "&cdn=cf3" + timestamps;
				}
			}
		}

		$(document).ready(function (){
			headerTitle = document.createElement("a");
			headerTitle.id = "header-title";
			headerTitle.innerHTML = "orvods";
			headerTitle.target = "_self";
			headerTitle.href = window.location.origin + window.location.pathname;
			document.querySelector("#main-links").prepend(headerTitle);
		});

		$(document).ready(function (){
			if (window.location.pathname != "/" && window.location.pathname == "") {
				headerTitle = document.createElement("a");
				headerTitle.id = "homepage-button";
				headerTitle.innerHTML = `<span style="font-size: 36px;" class="octicon octicon-home"></span>`;
				headerTitle.target = "_self";
				headerTitle.href = window.location.origin;
				document.querySelector("#main-links").prepend(headerTitle);
			}
		});

		// click button on "Enter" press
		// stolen from https://stackoverflow.com/questions/155188/trigger-a-button-click-with-javascript-on-the-enter-key-in-a-text-box
		$(document).ready(function (){
			document.getElementById("customUrlText").addEventListener("keyup", function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("customUrlButton").click();
				}
			});
		});
		
		$(document).ready(function () {
			$("head").append("<style id='timeFormatStyle'></style>");
			$("head").append("<style id='flairStyle'></style>");
			$("head").append("<style id='fontSizeStyle'></style>");
			$("head").append('<link rel="stylesheet" href="https://cdn.destiny.gg/emotes/emotes.css?_=' + (parseInt((new Date()).getTime()/1000) - (parseInt((new Date()).getTime()/1000) % 1800)) + '" type="text/css"/>');
			$("head").append('<link rel="stylesheet" href="https://cdn.destiny.gg/flairs/flairs.css?_=' + (parseInt((new Date()).getTime()/1000) - (parseInt((new Date()).getTime()/1000) % 1800)) + '" type="text/css">');

			if (localStorage.getItem('lineLimit')) {
        		$("#lineLimit").val(localStorage.getItem('lineLimit'));
    		} else {
				$("#lineLimit").val(300);
				localStorage.setItem('lineLimit', $("#lineLimit").val());
			}

			if (localStorage.getItem('timeFormat')) {
				$(`#timeFormat option[value=${localStorage.getItem('timeFormat')}]`).prop('selected', true);
			} else {
				$(`#timeFormat option[value=None]`).prop('selected', true);
			}
			updateTimeFormat();

			if (localStorage.getItem('hideFlairs')) {
				document.getElementById("hideFlairs").checked = (localStorage.getItem('hideFlairs') === "true") ? true : false;
			} else {
				document.getElementById("hideFlairs").checked = false;
			}
			updateFlairVisibility();

			if (localStorage.getItem('fontSize')) {
				$(`#fontSize option[value=${localStorage.getItem('fontSize')}]`).prop('selected', true);
			} else {
				$(`#fontSize option[value=small]`).prop('selected', true);
			}
			updateFontSize();
		});

		// stolen from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown
		function showManualTimestamps() {
			document.getElementById("manual-content").classList.toggle("show");
		};

		// stolen from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown
		function showSettings() {
			document.getElementById("settings-content").classList.toggle("show");
		};

		// stolen from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown
		function showSkipSettings() {
			document.getElementById("skip-content").classList.toggle("show");
		};

		function updateLineLimit() {
			localStorage.setItem('lineLimit', $("#lineLimit").val());
		}

		function updateTimeFormat() {
			state = $("#timeFormat").val();
			localStorage.setItem('timeFormat', state);
			sheet = document.getElementById("timeFormatStyle").sheet;
			len = sheet.cssRules.length;
			for (let i = 0; i < len; i++) {
				sheet.deleteRule(sheet.cssRules[i]);
			}
			if (state == "hms") {
				sheet.insertRule('.msg-chat .time {display: inline !important;}');
				sheet.insertRule('.msg-chat .time {padding-right: 0;}');
				sheet.insertRule('.msg-chat .time-seconds {display: inline !important;}');
			} else if (state == "hm") {
				sheet.insertRule('.msg-chat .time {display: inline !important;}');
				sheet.insertRule('.msg-chat .time {padding-right: .6em;}');
				sheet.insertRule('.msg-chat .time-seconds {display: none !important;}');
			} else {
				sheet.insertRule('.msg-chat .time {display: none !important;}');
				sheet.insertRule('.msg-chat .time {padding-right: 0;}');
				sheet.insertRule('.msg-chat .time-seconds {display: none !important;}');
			}
		}

		function updateFlairVisibility() {
			state = document.getElementById("hideFlairs").checked;
			localStorage.setItem('hideFlairs', state);
			sheet = document.getElementById("flairStyle").sheet;
			len = sheet.cssRules.length;
			for (let i = 0; i < len; i++) {
				sheet.deleteRule(sheet.cssRules[i]);
			}
			if (state) {
				sheet.insertRule('.msg-chat .features .flair {display: none !important;}');
			}
		}

		function updateFontSize() {
			state = $("#fontSize").val();
			localStorage.setItem('fontSize', state);
			sheet = document.getElementById("fontSizeStyle").sheet;
			len = sheet.cssRules.length;
			for (let i = 0; i < len; i++) {
				sheet.deleteRule(sheet.cssRules[i]);
			}
			if (state == "large") {
				sheet.insertRule('#chat-stream {font-size: 16px !important;}');
			} else if (state == "medium") {
				sheet.insertRule('#chat-stream {font-size: 14px !important;}');
			} else {
				sheet.insertRule('#chat-stream {font-size: 13px !important;}');
			}
		}
	</script>

	<div id="header" class="shadow">
		<div id="main-links">
			<div id="lwod-button"><a>LWOD</a></div>
			<div id="copy-button"><a>Copy with time</a></div>
		</div>
		<div id="header-links">
			<div class="header-links"><input type="text" id="customUrlText" name="vodurl" placeholder="Twitch/Youtube link"></div>
			<div class="manual-dropdown header-links">
				<div id="manual-button" class="manual-button" onclick="showManualTimestamps()"><span class="octicon octicon-chevron-down"></span></div>
				<div id="manual-content" class="class-manual-content">
					<label id="start-timestamp-text" for="lineLimit">Start chat at:</label>
					<input type="text" id="start-timestamp" name="start-timestamp" placeholder="2020-01-01 12:34:56 UTC">
					<label id="end-timestamp-text" for="lineLimit">End chat at:</label>
					<input type="text" id="end-timestamp" name="end-timestamp" placeholder="2020-01-02 12:34:56 UTC">
					<input id="chatonly" value="Chat Only" onclick="onlyChat()" type="button">
					<input id="customUrlButton3" value="m3u8" onclick="m3u8(document.getElementById('customUrlText').value)" type="button">
					<input id="customUrlButton2" value="Submit" onclick="vodURL(document.getElementById('customUrlText').value)" type="button">
				</div>
			</div>
			<div id="custom-url-wrapper" class="header-links"><input id="customUrlButton" value="Submit" onclick="vodURL(document.getElementById('customUrlText').value)" type="button"></div>
			<div class="header-links"><a id="destiny-status" href="https://www.destiny.gg/bigscreen">Destiny is offline.</a></div>
			<div id="git-buttons" class="header-links">
				<div><a class="github-button" href="https://github.com/vyneer/orvods-go/commits/master" data-icon="octicon-repo-forked" aria-label="Check the commits for orvods-go">Commits</a></div>
				<div><a class="github-button" href="https://github.com/vyneer/orvods-go/issues" data-icon="octicon-issue-opened" aria-label="Issue vyneer/orvods-go on GitHub">Issue</a></div>
			</div>
		</div>
	</div>

	<div id="body">
		<div id="lwod" class="view">
			<div id="close-lwod-button"><span class="octicon octicon-x"></span></div>
			<div id="table-container">
				<div id="scoot-credit">Source: <a class="white-link" href="https://drive.google.com/drive/folders/1aRv251i5bZIk223SDssmdvksKvrEYHdK">LWOD spreadsheets</a> (huge thanks to Scoot!)</div>
				<table id="lwod-timestamps">
					<tbody class="lwod-insert">
						<tr>
							<th class="start">Start Time</th>
							<th class="end">End Time</th>
							<th class="game">Game</th>
							<th class="subject">Subject</th>
							<th class="topic">Topic</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="browse" class="view container">
			<div id="site-selector">
				<div id="youtube-button" class="site-selector-button active">Youtube</div>
				<div id="twitch-button" class="site-selector-button">Twitch</div>
				<div id="vodstiny-button" class="site-selector-button">Vodstiny</div>
			</div>
			<div id="page-selector">
				<div id="previous-page-button" class="disabled"><span class="octicon octicon-arrow-left"></span></div>
				<div id="page-number-container">Page <span id="page-number">1</span></div>
				<div id="next-page-button"><span class="octicon octicon-arrow-right"></span></div>
			</div>
			<div class="polecat-credit">Source: <a class="white-link" href="https://polecat.me/vodstiny">vodstiny</a> (thank Polecat if you see them in chat! ♥)</div>
			<div class="polecat-credit">Keep in mind that recordings and chat are slightly misaligned (you can align them in the settings menu manually)</div>
			<div id="vod-list"></div>
		</div>
		<div id="player" class="view" style="flex-direction: row;">
			<div id="video-player"></div>
			<div id="chat-container">
				<div id="chat-controls">
					<div id="settings">
						<div class="skip-dropdown">
							<div id="skip-button" class="skip-button" onclick="showSkipSettings()"><span class="octicon octicon-history"></span></div>
							<div id="skip-content" class="class-skip-content">
								<label id="skip-text" class="label-text">Select the game that you want to skip:</label>
								<select id="skipGameSelect"></select>
								<div id="skip-buttons">
									<input id="skipGameButton" value="Submit" type="button">
									<input id="stopSkipGameButton" value="Stop" type="button">
								</div>
								<div id="time-msg"></div>
								<div id="time-container"></div>
							</div>
						</div>
						<div class="settings-dropdown">
							<div id="settings-button" class="settings-button" onclick="showSettings()"><span class="octicon octicon-settings"></span></div>
							<div id="settings-content" class="class-settings-content">
								<div id="dgg-controls">Show live d.gg</div>
								<div id="pause-controls">Stop chat</div>
								<div id="log-fallback-button">Use log fallback</div>
								<label class="label-text">Chat delay:</label>
								<div id="delay-controls">
									<div id="dec-delay-button"><span class="octicon octicon-arrow-left"></span></div>
									<div id="delay-container"><input id="delay" value="2"> sec.</div>
									<div id="inc-delay-button"><span class="octicon octicon-arrow-right"></span></div>
								</div>
								<label class="label-text">Max. lines in chat (0 for unlim.):</label>
								<input type="text" id="lineLimit" oninput="updateLineLimit()">
								<label class="label-text">Time format:</label>
								<select class="settings-options" id="timeFormat" oninput="updateTimeFormat()">
									<option value="none">None</option>
									<option value="hm">HH:mm</option>
									<option value="hms">HH:mm:ss</option>
								</select> <br>
								<label class="label-text">Font size:</label>
								<select class="settings-options" id="fontSize" oninput="updateFontSize()">
									<option value="small">Size Small</option>
									<option value="medium">Size Medium</option>
									<option value="large">Size Large</option>
								</select> <br>
								<label class="label-text">Hide flairs:</label>
								<input class="settings-options" type="checkbox" id="hideFlairs" onchange="updateFlairVisibility()">
							</div>
						</div>
						<div id="switch-sides-button"><span class="octicon octicon-mirror"></span></div>
					</div>
				</div>
				<div id="chat-stream"></div>
			</div>
		</div>
	</div>

	<div id="footer"></div>
</body>
</html>
{{end}}
